

.mg{
    margin-left: 15%;
}
#home{
    background-color: #FFC107;
    color: white;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5e5;
}
h4{
    padding-top: 10px;
    text-align: center;
}

